.completed-topic {
  text-decoration: line-through;
  color: var(--ion-color-medium);
}

.topic-item {
  margin-left: 8px;
  border-radius: 8px;
}

.topic-item:hover {
  background: var(--ion-color-light);
}
