.input-item {
  margin-top: 15px;
  --background: #f9f9f9; /* light background for inputs */
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  --highlight-color-focused: #3880ff; /* blue focus color */
}

.input-field {
    margin-top: 10px;
}

ion-card {
  border-radius: 14px;
  padding: 15px;
}

ion-button {
  border-radius: 8px;
}
