/* src/pages/Register.css */

.auth-card {
  max-width: 420px;
  margin: 0 auto;
}

.auth-header {
  text-align: center;
  margin-bottom: 20px;
}

.auth-header h2 {
  margin-bottom: 4px;
}

.auth-header p {
  font-size: 14px;
  color: var(--ion-color-medium);
}

.form-item {
  margin-bottom: 16px;

  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --padding-start: 0;
  --padding-end: 0;
}
